<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Project</title>
    <link rel="stylesheet"  href="../public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="body_container bg-black">
     <div class="container">
       <form action="/url" method="POST">
        <input type="text" class="url" name="given_url" placeholder="Put your Link" >
        <button type="submit" class="text-green-500 border-2">Generate</button>
       </form>
     </div>
</body>
</html>